/* Responsive nav component
   ------------------------------ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Screen reader
   ------------------------------ */
.screen-reader-text {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #2020a5;
  display: block;
  font-size: 16px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Event wrapper 
   ------------------------------ */
/* Icons for Responsive nav component
   ------------------------------ */
/* Variables for Responsive nav componenent
   ------------------------------ */
/* Responsive nav
   ------------------------------------------------------------ */
/* responsive-nav.js 1.0.39 by @viljamis
   ------------------------------ */
.nav-collapse li {
  width: 100%;
  display: block;
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media screen and (min-width: 40em) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }

  .nav-toggle {
    display: none;
  }
}
/* Basic layout
   ------------------------------ */
.nav-collapse,
.nav-collapse * {
  box-sizing: border-box;
}

.nav-collapse {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.nav-collapse ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.nav-collapse ul ul {
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
}
@media screen and (max-width: 40em) {
  .nav-collapse ul {
    flex-direction: column;
  }
}

.nav-collapse,
.nav-collapse ul,
.nav-collapse li {
  width: auto;
}
@media screen and (max-width: 40em) {
  .nav-collapse,
.nav-collapse ul,
.nav-collapse li {
    width: 100%;
  }
}
.nav-collapse a,
.nav-collapse ul a,
.nav-collapse li a {
  color: #fff;
  background: #000;
  text-decoration: none;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 40em) {
  .nav-collapse a,
.nav-collapse ul a,
.nav-collapse li a {
    text-align: left;
    display: block;
    height: 3em;
    line-height: 3em;
  }
}

/* Nav toggle
   ------------------------------ */
.nav-toggle {
  border: none;
  color: white;
  background-color: black;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  float: right;
  padding: 0.75em;
  margin: 1em;
}
.nav-toggle:hover, .nav-toggle:active, .nav-toggle:focus {
  color: black;
  background-color: red;
}

/* Dropdown levels
   ------------------------------ */
.nav-collapse a:hover,
.nav-collapse li.focus > a {
  background-color: blue;
}

@media screen and (max-width: 40em) {
  .js .nav-collapse {
    visibility: hidden;
  }
  .js .nav-collapse.opened {
    visibility: visible;
  }
  .js .nav-collapse.multiple-level-nav.opened.dropdown-active {
    max-height: 9999px !important;
  }
  .js .nav-collapse.multiple-level-nav .sub-menu.toggled {
    display: block;
    max-height: 9999px;
    position: relative;
  }
  .js .nav-collapse li {
    position: relative;
  }
}
.dropdown-toggle {
  display: none;
}

/* Create expandable dropdown submenus
   ------------------------------ */
@media screen and (max-width: 0) {
  .js .nav-collapse.multiple-level-nav .sub-menu {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: none;
    overflow: hidden;
    zoom: 1;
  }
  .js .nav-collapse .dropdown-toggle {
    display: block;
    border: none;
    color: black;
    background-color: grey;
    content: "";
    height: 3em;
    width: 3em;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 2%;
    text-transform: lowercase;
  }
  .js .nav-collapse .dropdown-toggle:hover, .js .nav-collapse .dropdown-toggle:active, .js .nav-collapse .dropdown-toggle:focus {
    background-color: red;
    color: black;
  }
  .js .nav-collapse .dropdown-toggle:after {
    content: "+";
    font-size: 2em;
  }
  .js .nav-collapse .dropdown-toggle.toggled:after {
    content: "-";
    font-size: 2em;
    color: white;
  }
}
/* Small screen nav levels
   ------------------------------ */
.dropdown ul a {
  background: #333;
  padding-left: 1.5em;
}

.dropdown ul ul a {
  background: #555;
  padding-left: 2.5em;
}

.dropdown ul ul {
  border: 0;
  padding: 0;
}

.dropdown .dropdown.opened .has-dropdown {
  background: green;
  color: red;
}

/* Large screen styles
   ------------------------------ */
@media screen and (min-width: 40em) {
  .nav-collapse {
    padding-right: 2%;
    position: relative;
  }

  .js .nav-collapse,
.js .nav-collapse .dropdown ul {
    max-height: none;
    overflow: visible;
  }

  .nav-collapse .dropdown {
    position: relative;
  }
  .nav-collapse .dropdown li {
    width: 100%;
  }
  .nav-collapse .dropdown ul a {
    text-align: center;
    border: 0;
  }

  .nav-collapse li {
    border: 0;
    display: inline-block;
    height: 3em;
    line-height: 3em;
    position: relative;
  }
  .nav-collapse li a {
    display: inline-block;
    padding: 0 2em;
  }
  .nav-collapse ul ul {
    margin: 0;
    position: absolute;
    top: 85px;
    left: -999em;
    z-index: 99999;
    text-align: center;
  }
  .nav-collapse ul ul a {
    padding: 15px 12px;
    white-space: normal;
    width: 150px;
  }
  .nav-collapse ul ul ul {
    left: -999em;
    top: 20px;
  }
  .nav-collapse li li {
    border: 0;
    display: block;
    height: auto;
    line-height: 1.0909090909;
  }

  /* Dropdown layout
     ------------------------------ */
  .nav-collapse ul li:hover > ul,
.nav-collapse ul li.focus > ul {
    top: 3em;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav-collapse ul ul li:hover > ul,
.nav-collapse ul ul li.focus > ul {
    top: 0;
    left: 0;
    transform: translateX(100%);
  }
}
